.DS_Store
node_modules/
dist/
unused/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# files specific to ontology used
src/config.js
src/queries.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
